# Week 4 Discussion 

## Error handling and APIs

### Debugging

When you get an error message or an incorrect result:

1. If there's an error message, what does the error message mean?
2. Where (what line) did the error come from? You may have to work backward.
3. Use `print()` or the interactive debugger to inspect variables.

In [12]:
def add3(x):
    return x + 3

add3("hi")

TypeError: can only concatenate str (not "int") to str

The error is "must be str, not int" and points to line 2 of the `add3()` function.

We can trace `x` in line 2 back to the parameter `x`. So maybe something is wrong with our call `add3("hi")`.

We can check by adding a print statement:

In [13]:
def add3(x):
    print(x)
    return x + 3

add3("hi")

hi

TypeError: can only concatenate str (not "int") to str

We could also use the debugger to check:

In [14]:
# Load the debugger module. This comes with Jupyter.
from IPython.core.debugger import set_trace

In [15]:
def add3(x):
    set_trace()
    return x + 3

add3("hi")

> <ipython-input-15-9b049ce682a7>(3)add3()
      1 def add3(x):
      2     set_trace()
----> 3     return x + 3
      4
      5 add3("hi")

ipdb> p x
'hi'
ipdb> w
    [... skipping 27 hidden frame(s)]

  <ipython-input-15-9b049ce682a7>(5)<module>()
      1 def add3(x):
      2     set_trace()
      3     return x + 3
      4
----> 5 add3("hi")

> <ipython-input-15-9b049ce682a7>(3)add3()
      1 def add3(x):
      2     set_trace()
----> 3     return x + 3
      4
      5 add3("hi")

ipdb> a
x = 'hi'
ipdb> n
TypeError: can only concatenate str (not "int") to str
> <ipython-input-15-9b049ce682a7>(3)add3()
      1 def add3(x):
      2     set_trace()
----> 3     return x + 3
      4
      5 add3("hi")

ipdb> s
--Return--
None
> <ipython-input-15-9b049ce682a7>(3)add3()
      1 def add3(x):
      2     set_trace()
----> 3     return x + 3
      4
      5 add3("hi")

ipdb> q

BdbQuit:

In [16]:
import random
random_range = 2,3


def float_factorial(j):
        if j==0:
                return 1
        return j* float_factorial(j-1)


def random_float(min_val = 0,max_val = 10):
        return min_val + random.random() * (max_val-min_val) #random.random() return a random variable between 0 and 1


rf = random_float(random_range)
ff = float_factorial(rf)
print('float_factorial({}) = {}'.format(rf,ff))

TypeError: unsupported operand type(s) for -: 'int' and 'tuple'

If you're using the terminal, you can instead use:

```python
from ipdb import set_trace

# To pause the interpreter.
set_trace()
```
For more debugger commands, check this [python debugger checksheet](https://appletree.or.kr/quick_reference_cards/Python/Python%20Debugger%20Cheatsheet.pdf)

### Catching errors

You should use `try` and `except` to catch expected errors.

In [17]:
try: 2 + "d"
except: 
    print('That does not work!')

That does not work!

You can also specify the error type.

In [18]:
try: 2 + "d"
except IndexError: 
    print('tip')
except TypeError: 
    print('top')
except TypeError: 
    print('tep')

top

In [19]:
x = list(range(4))
i = 0
while True:  
    x[i] += 2
    i += 1

IndexError: list index out of range

In [20]:
x = list(range(4))
i = 0
while True:  
    try: 
        x[i] += 2
    except IndexError: 
        break
    except TypeError: 
        pass
    i += 1
x

[2, 3, 4, 5]

In [21]:
x = list(range(4))
x.append('a') #x = [0, 1, 2, 3, 'a']
i = 0
while True:  
    try: 
        x[i] += 2
    except IndexError: # when i = 5
        break
    except TypeError: # when i = 4
        pass
    i += 1
x

[2, 3, 4, 5, 'a']

`finally` will always be executed.

In [23]:
try: 1 + '2'
finally: print("Why is this not 3?")

Why is this not 3?

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
try: 1 + 2
finally: print("Why is this not 3?")

Why is this not 3?

We can also raise errors.

In [13]:
raise ValueError('This is my message to you!')

ValueError: This is my message to you!

Most often, you will use this:

In [6]:
import requests
import pandas

In [15]:
try: 
    requests.get('https://anson.ucdavis.edu/~kramlingTYPO!/')
except requests.HTTPError:
    pass # or alterantive

### Census Bureau API (from [here](https://www.census.gov/data/developers/data-sets/acs-1year.html))

In [2]:
import requests

In [1]:
key = "" # use your own key here

Example request:

In [3]:
r = requests.get("https://api.census.gov/data/2023/acs/acs1?", params ={ 
    'get': "NAME,group(B01001)", 
    'for': "us:1",
    'key': key
})

In [7]:
pandas.DataFrame(r.json())

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,NAME,B01001_001E,B01001_001EA,B01001_001M,B01001_001MA,B01001_002E,B01001_002EA,B01001_002M,B01001_002MA,B01001_003E,...,B01001_048EA,B01001_048M,B01001_048MA,B01001_049E,B01001_049EA,B01001_049M,B01001_049MA,GEO_ID,NAME,us
1,United States,334914896,None,-555555555,*****,165729373,None,34559,None,9373156,...,None,27143,None,3858663,None,27374,None,0100000US,United States,1

Read the [docs](https://api.census.gov/data/2023/acs/acs1/examples.html)!

In [8]:
r = requests.get("https://api.census.gov/data/2023/acs/acs1?", params ={ 
    'get': "NAME,group(B01001)", 
    'for': "county:*",
    'in': "state:*",
    'key': key
})
df = pandas.DataFrame(r.json())
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,191,192,193,194,195,196,197,198,199,200
0,NAME,B01001_001E,B01001_001EA,B01001_001M,B01001_001MA,B01001_002E,B01001_002EA,B01001_002M,B01001_002MA,B01001_003E,...,B01001_048M,B01001_048MA,B01001_049E,B01001_049EA,B01001_049M,B01001_049MA,GEO_ID,NAME,state,county
1,"Baldwin County, Alabama",253507,None,-555555555,*****,124518,None,799,None,6617,...,659,None,3004,None,844,None,0500000US01003,"Baldwin County, Alabama",01,003
2,"Calhoun County, Alabama",116429,None,-555555555,*****,56185,None,642,None,3102,...,470,None,2097,None,543,None,0500000US01015,"Calhoun County, Alabama",01,015

In [9]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [10]:
df.head(3)

,NAME,B01001_001E,B01001_001EA,B01001_001M,B01001_001MA,B01001_002E,B01001_002EA,B01001_002M,B01001_002MA,B01001_003E,...,B01001_048M,B01001_048MA,B01001_049E,B01001_049EA,B01001_049M,B01001_049MA,GEO_ID,NAME,state,county
1,"Baldwin County, Alabama",253507,None,-555555555,*****,124518,None,799,None,6617,...,659,None,3004,None,844,None,0500000US01003,"Baldwin County, Alabama",01,003
2,"Calhoun County, Alabama",116429,None,-555555555,*****,56185,None,642,None,3102,...,470,None,2097,None,543,None,0500000US01015,"Calhoun County, Alabama",01,015
3,"Cullman County, Alabama",92016,None,-555555555,*****,45015,None,646,None,2368,...,498,None,1082,None,495,None,0500000US01043,"Cullman County, Alabama",01,043

In [11]:
df.loc[df.iloc[:, 0].str.contains('Yolo')]

,NAME,B01001_001E,B01001_001EA,B01001_001M,B01001_001MA,B01001_002E,B01001_002EA,B01001_002M,B01001_002MA,B01001_003E,...,B01001_048M,B01001_048MA,B01001_049E,B01001_049EA,B01001_049M,B01001_049MA,GEO_ID,NAME,state,county
85,"Yolo County, California",220544,None,-555555555,*****,108080,None,876,None,4763,...,664,None,1436,None,398,None,0500000US06113,"Yolo County, California",06,113

The meaning of the columns is given in the documentation and https://api.census.gov/data/2023/acs/acs1/variables.html